In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score as r2
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
TRAIN_DATASET_PATH = 'train.csv'
df = pd.read_csv(TRAIN_DATASET_PATH)

In [9]:
features_to_scale = ['Square', 'LifeSquare', 'KitchenSquare', 'Ecology_1', 'Social_2']
scaler = StandardScaler()
stand_features = scaler.fit_transform(df[features_to_scale])
df[features_to_scale] = stand_features

Square           None
LifeSquare       None
KitchenSquare    None
Ecology_1        None
Social_2         None
dtype: object

In [7]:
stand_features

array([[-0.39578028, -0.08994988, -0.0095695 , -0.25052909,  0.65488019],
       [ 0.44486692,  0.03304776,  0.06045977, -0.99805257,  1.23716949],
       [-0.53984214, -0.09279254, -0.21965729, -0.58158849,  0.60071954],
       ...,
       [-0.39780109,         nan, -0.18464266, -0.39237278, -1.17884442],
       [-0.60373291, -0.03895713,  0.06045977,  1.58469359, -0.0759141 ],
       [-0.83813275, -0.18602229,  0.06045977, -0.99864062, -0.13831116]])

In [10]:
df

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,0.135650,B,B,46,7960,6,350.0,3,11,B,196684.316040
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000,B,B,30,5562,0,NaN,0,5,A,189050.289571
9997,5123,27,1.0,47.939008,NaN,1.0,12,16.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A,159143.805370
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,0.307467,B,A,30,5048,9,325.0,2,5,B,181595.339808
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000,B,B,27,4798,0,30.0,2,8,B,218714.077615

In [11]:
df[features_to_scale] = stand_features

In [12]:
df

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,-0.395780,-0.089950,-0.009569,7,9.0,1969,-0.250529,B,B,33,0.654880,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,0.444867,0.033048,0.060460,7,9.0,1978,-0.998053,B,B,46,1.237169,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,-0.539842,-0.092793,-0.219657,8,12.0,1968,-0.581588,B,B,34,0.600720,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,-0.140699,0.180109,0.095474,8,17.0,1977,2.680470,B,B,23,0.095553,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,-0.791473,-0.155660,0.025445,11,12.0,1976,-0.894969,B,B,35,0.105786,1,2078.0,2,4,B,150226.531644
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,77,32,2.0,-0.280847,-0.077966,-0.044584,6,5.0,1968,0.141089,B,B,46,0.650887,6,350.0,3,11,B,196684.316040
9996,6159,18,1.0,-0.702557,-0.193196,0.095474,13,13.0,2000,-0.998641,B,B,30,0.052374,0,NaN,0,5,A,189050.289571
9997,5123,27,1.0,-0.397801,NaN,-0.184643,12,16.0,2015,-0.392373,B,B,2,-1.178844,1,NaN,0,0,A,159143.805370
9998,5400,75,2.0,-0.603733,-0.038957,0.060460,1,5.0,1961,1.584694,B,A,30,-0.075914,9,325.0,2,5,B,181595.339808
9999,6306,128,1.0,-0.838133,-0.186022,0.060460,7,17.0,1990,-0.998641,B,B,27,-0.138311,0,30.0,2,8,B,218714.077615